.stamp-image-box {
    position: relative;
    display: block;
    /* width: var(--stamp-width, 180px);
    height: var(--stamp-height, 255px); */
    width: 85px;
    height: 115px;
}

.stamp-image-box__defs {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
}

.stamp-image-box__frame {
    position: relative;
    width: 100%;
    height: 100%;
    filter: drop-shadow(
            2px 1px var(--stamp-shadow-blur, 10px) var(--stamp-shadow-color, rgb(206, 82, 225))
        )
        drop-shadow(
            -2px -1px var(--stamp-shadow-blur, 10px) var(--stamp-shadow-color, rgb(206, 82, 225))
        );
}

.stamp-image-box__container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.stamp-image-box__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.stamp-image-box__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
